In [1]:
import pandas as pd

In [2]:
vine_df = pd.read_csv("vine_table.csv")

/Users/brianharra/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1E1WP2QGEIBAF,5,0.0,0.0,N,Y
1,RW0O6OQQ4X7D0,4,0.0,0.0,N,Y
2,RPSO0AEAKTRXO,5,0.0,0.0,N,Y
3,R2MNRKTQ3EU563,4,0.0,0.0,N,Y
4,R2917UR63513HY,5,0.0,0.0,N,Y

In [9]:
#items with more or equal to 20 votes
vine_filter = vine_df[vine_df.total_votes > 19]

In [10]:
vine_filter.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1222,R3LCRUFAEOHLKC,1,18.0,30.0,N,Y
1232,R39BVCCVPRV6F5,5,10.0,22.0,N,Y
1784,RL9VF9WXHEHKR,5,35.0,36.0,N,Y
1836,R1ZINLWUOLTZ46,1,39.0,45.0,N,N
1949,R1CQKM1K1CHOHS,1,21.0,22.0,N,N

In [11]:
#Create a new DataFrame or table to retrieve all the rows where the 
#number of helpful_votes divided by total_votes is equal to or greater than 50%.
vine_2 = vine_filter[vine_filter.helpful_votes / vine_filter.total_votes >= .50]

In [12]:
vine_2.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1222,R3LCRUFAEOHLKC,1,18.0,30.0,N,Y
1784,RL9VF9WXHEHKR,5,35.0,36.0,N,Y
1836,R1ZINLWUOLTZ46,1,39.0,45.0,N,N
1949,R1CQKM1K1CHOHS,1,21.0,22.0,N,N
2872,RXAHWIC1584UQ,5,20.0,23.0,N,Y

In [13]:
#that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'
vine_paid = vine_2[vine_2.vine == 'Y']

In [14]:
vine_paid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
19932,R3QIQRG107AP19,5,38.0,41.0,Y,N
29729,R1ZNBHGCYE8VN1,5,175.0,181.0,Y,N
51696,R1BNZJ9IKGRBC2,4,63.0,70.0,Y,N
157393,RDSW92MUXJ3LJ,5,28.0,28.0,Y,N
162667,RZRWDTOYLSP5K,5,15.0,21.0,Y,N

In [15]:
vine_unpaid =  vine_2[vine_2.vine == 'N']

In [16]:
vine_unpaid.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1222,R3LCRUFAEOHLKC,1,18.0,30.0,N,Y
1784,RL9VF9WXHEHKR,5,35.0,36.0,N,Y
1836,R1ZINLWUOLTZ46,1,39.0,45.0,N,N
1949,R1CQKM1K1CHOHS,1,21.0,22.0,N,N
2872,RXAHWIC1584UQ,5,20.0,23.0,N,Y

In [ ]:
#Determine the total number of reviews, the number of 5-star reviews, and the 
#percentage of 5-star reviews for the two types of review (paid vs unpaid).

In [17]:
vine_unpaid_five = vine_unpaid[vine_unpaid.star_rating == 5 ]

In [18]:
vine_unpaid_five.count()

review_id            28020
star_rating          28020
helpful_votes        28020
total_votes          28020
vine                 28020
verified_purchase    28020
dtype: int64

In [19]:
vine_paid_five = vine_paid[vine_paid.star_rating == 5 ]

In [20]:
vine_paid_five.count()

review_id            311
star_rating          311
helpful_votes        311
total_votes          311
vine                 311
verified_purchase    311
dtype: int64

In [21]:
vine_paid_five.count() / vine_paid.count()

review_id            0.545614
star_rating          0.545614
helpful_votes        0.545614
total_votes          0.545614
vine                 0.545614
verified_purchase    0.545614
dtype: float64

In [22]:
vine_unpaid_five.count() / vine_unpaid.count()

review_id            0.444127
star_rating          0.444127
helpful_votes        0.444127
total_votes          0.444127
vine                 0.444127
verified_purchase    0.444127
dtype: float64